*{
  margin: 0;
  padding: 0;
}
.content {
  position: relative;
  background-color: #ffb6c7;
  background-image: url("../img/fon_buble.png");
  background-size: 40%;
  width: 300px;
  height: 400px;
  margin: 5px auto;
}
.logo {
  position: relative;
  width: 100px;
  height: 20px;
  border: black solid 1px;
  font-size: 10pt;
  font-weight: inherit;
  font-family: Arial, serif;
  text-align: center;
  padding: 5px;
  left: 15px;
}
.candy {
  display: inline-block;
  font-family: 'Playball', cursive;
  font-size: 26pt;
  margin: 10px;
}
.for {
  display: inline-block;
  width: 30px;
  background: red;
  font-size: 12pt;
  font-family: Arial, serif;
  color: white;
  padding: 2px;
  text-align: center;
}
.snack {
  color: red;
  font-family: 'Playball', cursive;
  font-size: 26pt;
  float: left;
  margin-right: 5px;
}
.chup {
  position: absolute;
  left: 220px;
  bottom: -17px;
  transform: rotate(335deg);
}
.up {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.palka {
  position: relative;
  width: 2px;
  height: 30px;
  background-color: white;
}
.right {
  transform: rotate(35deg);
}
.left {
  transform: rotate(145deg);
}
.red .up {
  background-color: red;
  bottom: 25px;
  left: 6px;
}
.orange .up {
  background-color: orange;
  bottom: 25px;
  right: 6px;
}
.candyPhoto {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url("img/2.png");
  background-repeat: no-repeat;
  background-size: 110%;
  top: -11px;
  right: 11px;
  margin-bottom: 60px;
}
